#map {
	width: 100%;
	height: 100%;
	position: absolute;
}
/*Overriding bootstrap styles*/
.panel-body{
	padding: 5px;
}

.panel{
	margin-bottom: 12px;
}

.table{
	width: 90%;
}

.table tbody tr td, .table tbody tr th{
	padding: 3px;
	border-top: none; 
}

.panel-heading{
	padding: 5px;
}

 .btn-primary, .btn-primary:active, .btn-primary:focus, .btn-primary:hover{
	background-color: #713774;
	border-color: lightgrey;
	border-width: 3px;
	border-radius: 5px;
}



.gray{
	color: #fff;
	background-color: #004284;
	border-radius: 4px;
	margin: 2px;
	padding: 10px;
}

#gray{
	color: grey;
}


#heresay_logo_img {
	float: left;
	width: 40%;
	cursor: pointer;
}

#heresay_logo_big {
	width: 60%;
	margin: 0 auto;
	display: block;
}

#kbia_logo img {
	margin: 0 auto;
	display: block;
	width: 25%;
}

.floated_left {
	float: left;
}

.big_margin_top {
	margin-top: 30px;
}

#corner {
	float: left;
	width: 50%;
	margin-left: 10%;
	text-align: center;
	border-radius: 4px;
}

#corner_text{
	color: #713774;
}

.absolute {
	position: absolute;
	z-index: 2;
	background: #fff;
	padding: 6px;
	border-radius: 10px;
	border: 3px solid lightgrey;
}

.absolute_left {
	position: absolute;
	z-index: 2;
	background: #fff;
	border: 2px solid lightgrey;
}

.page {
	right: 10px;
	top: 10px;
	min-height: 300px;
	width: 420px;
	min-width: 300px;
	border: 3px solid lightgrey;
}

.container {
	width: 100%;
}

.center {
	text-align: center;
}

.div_list {
	width: 100%;
	float: left;
	border: none;
}

#social_btns{
	
}

#page {
	display: none;
}

.real_stories_list {

}

.sm_img {
	width: 30px;
	height: 30px;
}

.indented {
	margin-left: 30px;
	margin-bottom: 10px;
	color: #7B7B7B;
	line-height: 1.2;
	border-bottom: 3px;
}

.round_image {
	border-radius: 50%;
}

.stories_container {
	height: 100%;
	max-height: 340px;
	overflow-y: scroll;
}

/*Rewriting Markercluster styles*/

.marker-cluster-small div, .marker-cluster-medium div, .marker-cluster-large {
	background-color: rgba(113,55,116,0.7);

}

.marker-cluster-small, .marker-cluster-medium, .marker-cluster-large {
	background-color: rgba(113,55,116,0.7);
}

#desc {
	margin-top: 10px;
}

#person_page {
	display: none;
}


#left_nav {
	left: -215px;
	top: 30%;
	height: 60%;
	width: 250px;
	border-radius: 0 10px 10px 0;
	background-color: #713774;
	transition: all 0.5s ease;
}


@media (max-width: 800px) {

	.page {
		margin-top: 270px; 
		right: 0;
		bottom: 0;
		width: 100%;
	}

	#map {
		height: 300px;
	}

	#left_nav {
		display: none;
	}

}

.full_width{
	width: 100%;
}


#left_nav_title {
	position: absolute;
	border: none;
	top: 43%;
	right: -70px;
	color: #fff;
	font-weight: bold;
	cursor: default;
}


.rotate {
	/* Safari */
	-webkit-transform: rotate(-90deg);
	/* Firefox */
	-moz-transform: rotate(-90deg);
	/* IE */
	-ms-transform: rotate(-90deg);
	/* Opera */
	-o-transform: rotate(-90deg);
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.relative_c {
	width: 100%;
	height: 100%;
	position: relative;
	margin-left: -25;
	background-color: #713774;
	border: 2px #713774;
}

#left_stories_list {
	height: 100%;
	margin-right: 10px;
	overflow-y: scroll; 
	background-color: #fff;
	border: 2px;
	border-color: #713774;

	
}

#left_stories_list ul li {
	list-style: none;
}

#left_stories_list ol, ul {
	margin-top: 18px
}

a:link, a:hover, a:visited, a:active{
	color: #004284;
}

.in_center {
	width: 138px;
	margin: 0 auto;
}

.text_box{
	font-size: 12px;
}

.story_text{
	margin: 10;
	font-size: 12;
	font-style: italic;
	font-color: darkgrey;

}

.leaflet-top, .leaflet-bottom {
	z-index: 1;
}

#heresay_small {
	float: left;
}

#heresay_logo_big {
	width: 90%;
}